<h1 class="show_title"><%= @recipe.title %></h1>

<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category), :class => 'category_tag' %>
<% end %>

<br>
<h3> Servings: <span class="recipe_highlight"><%= @recipe.servings %></span><span class="separator"> &#160; | &#160;</span> </h3>
<h3> Prep Time: <span class="recipe_highlight"><%= @recipe.preptime %></span><span class="separator"> &#160; | &#160;</span> </h3>
<h3> Cooking Time: <span class="recipe_highlight"><%= @recipe.cooktime %><span></h3>

<div class="description_container">
    <p><%= @recipe.description %></p>
</div>

<%= cl_image_tag @recipe.image, :class => "recipe_image" if @recipe.image.present?%>
<%= get_video_iframe(@recipe.video) if @recipe.video.present? %>

<% ingredients_array = @recipe.ingredients.split(',') %>
<br>
<h3 class="recipe_heading">Ingredients</h3>
<ul class='dot_color'>
    <% ingredients_array.each do |ingredient| %>
        <li><%= ingredient.strip %></li>
    <% end %>
</ul>

<% instructions_array = @recipe.instructions.split('_') %>
<h3 class="recipe_heading">Instructions</h3>
<ol>
    <% instructions_array.each do |instruction| %>
        <li><%= instruction.strip %></li>
    <% end %>
</ol>

<% if @current_user.try(:admin?) || (@current_user == @recipe.user if @current_user.present?) %>
    <div class="control">
        <%= link_to "Edit Recipe", edit_recipe_path(@recipe), :class => "control_buttons" %>
        <%= link_to "Delete Recipe", @recipe, :method => :delete, :class => "control_buttons", :data => { :confirm => 'Are you sure?'} %>
    </div>
    <br>
<% end %>