<h1><%= @recipe.title %></h1>

<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>

<h3> Serving: <%= @recipe.servings %></h3>
<h3> Prep Time: <%= @recipe.preptime %></h3>
<h3> Cooking Time: <%= @recipe.cooktime %></h3>

<%= image_tag @recipe.image if @recipe.image.present?%>
<%= video_tag @recipe.video, controls: true, size: "640x480" %>


<% ingredients_array = @recipe.ingredients.split(',') %>
<h3>Ingredients:</h3>
<ul>
    <% ingredients_array.each do |ingredient| %>
        <li><%= ingredient.strip %></li>
    <% end %>
</ul>

<% instructions_array = @recipe.instructions.split('_') %>
<h3>Instructions:</h3>
<ol>
    <% instructions_array.each do |instruction| %>
        <li><%= instruction.strip %></li>
    <% end %>
</ol>


<div class="control">
    <%= link_to "Edit Recipe", recipes_edit_path(@recipe) %>
    <%= link_to "Delete Recipe", @recipe, :method => :delete, :data => { :confirm => 'Are you sure?'} %>
</div>