<h1>Sign up!</h1>


<%= form_for @user do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name, :class => 'form_spacing', :size=>"35" %> <br>

    <%= f.label :email %><br>
    <%= f.email_field :email, :class => 'form_spacing', :size=>"35" %> <br>

    <%= f.label :password %><br>
    <%= f.password_field :password, :class => 'form_spacing', :size=>"35" %> <br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, :class => 'form_spacing', :size=>"35" %> <br>

    <%= f.submit "Sign Up!", class: 'submit_button'  %>
<% end %>

<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end%>
    </ol>
<% end %>
