<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<% if @current_user.admin?%>
    <%= link_to "Edit category", edit_category_path(@category), :class => "control_buttons" %>
    <%= link_to "Delete category", @category, :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => "control_buttons" %>
<% end %>


<h2>Recipes</h2>
<ul>
  <% @recipes.each do |recipe| %>
    <%= link_to image_tag(recipe.image), recipe%>
    <%= link_to recipe.title, recipe_path(recipe) %>
  <% end %>
</ul>

