<!DOCTYPE html>
<html>
  <head>
    <title>Eating w Eyes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <%= link_to "Home", recipes_path %>
        <% if @current_user.present?%>
          <%= link_to "New Recipe", recipes_new_path %>
          <%= link_to "Log Out #{ @current_user.email }", login_path, :method => :delete %>
            <div class="dropdown">
              <button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                  <a href="#"> Beef </a>
                  <a href="#"> Chicken & Poultry </a>
                  <a href="#"> Pork </a>
                  <a href="#"> Lamb </a>
                  <a href="#"> Fish & Seafood </a>
                  <a href="#"> Eggs </a>
                  <a href="#"> Vegetarian </a>
                  <a href="#"> Tofu </a>
                  <a href="#"> Bread & Pizza </a>
                  <a href="#"> Noodles & Pasta </a>
                  <a href="#"> Rice </a>
                  <a href="#">  Soups & Stocks </a>
                  <a href="#"> Dessert </a>                
                </div>
            </div>
        <% if @current_user.admin?%>
          <%= link_to "New Category", new_category_path  %>
          <%= link_to "All Category", categories_path %>
        <% end %>

        <% else %>
          <%= link_to "Sign Up", users_new_path%>
          <%= link_to "Sign In", login_path %>
        <% end %>
    </nav>

        <%= yield %>
  </body>
</html>
