<!DOCTYPE html>
<html>
  <head>
    <title>Eating w Eyes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CLOUNDINARY -->
    <%= cloudinary_js_config %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Poppins:wght@400;600&display=swap');
    </style>
  </head>

  <body>
    <div class="top_banner">
      <div class="banner_text">
        <p>Do you have a headache? You're probably dehydrated </p>
      </div>
    </div>

    <div class="header">
      <div class="logo_container">
      <img class="logo_header" src="/img/eatingweyes_logo.png" alt="eating w eyes logo">
    </div>

      <div class="nav_bg">
        <div class="nav_container">
          <nav>
              <%= link_to "Home", recipes_path, :class => 'nav_tab left_border' %>
              <div class="dropdown">
                <button class="dropbtn">Categories&#160; <i class="arrow down"></i></p></button>
                <div class="dropdown-content ">
                  <% Category.all.each do |category| %>
                    <a href="<%= category_path(category) %>"><%= category.name %></a>
                  <% end %>
                </div>
              </div>
              
              <% if @current_user.present?%>
                <%= link_to "New Recipe", new_recipe_path, :class => 'nav_tab' %>
                <%= link_to "My Recipe",  users_index_path, :class => 'nav_tab' %>
        
              <% if @current_user.admin?%>
                <%= link_to "New Category", new_category_path, :class => 'nav_tab'  %>
                <%= link_to "All Categories", categories_path, :class => 'nav_tab' %>
              <% end %>

              <% if @current_user.present? %>
                <%= link_to "Log Out #{ @current_user.name }", login_path, :method => :delete, :class => 'nav_tab' %>
              <% end%>

              <% else %>
                <%= link_to "Sign Up", users_new_path, :class => 'nav_tab'%>
                <%= link_to "Sign In", login_path, :class => 'nav_tab' %>
              <% end %>
          </nav>
        </div>
      </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
